[core]
	excludesfile = ~/.oh-my-zsh/.gitignore_global
[user]
	email = martin.aarhof@gmail.com
	name = Martin Aarhof
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
